body{
    background: rgb(245, 245, 245);
}
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montagu+Slab:opsz,wght@16..144,100..700&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}
header{
    padding: 0px 160px;
}
main{
    padding: 0px 160px;
}
.edu-au-vic-wa-nt-arrows{
    font-family: "Edu AU VIC WA NT Arrows", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
:hover.btn-primary{
    cursor: pointer;
    background-color: gray;
}
.nav-contain{
    width: 1280px;
    height: 100px;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bang{
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
}
.btn{
    background-color: white;
    width: 116px;
    height: 52px;
    padding: 14px 24px;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    color: rgb(0, 106, 80);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.banner{
    margin-top: 20px;
    padding: 80px 100px;
    height: 560px;
    width: 1280px;
    box-sizing: border-box;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    display: flex;
    gap: 34px;
    justify-content: center;
    align-items: center;
}
.bang-2{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}
.new-bang{
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 24px;
}
.btn-explore{
    height: 56px;
    width: 270px;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background: rgb(0, 106, 80);
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

/* main section start */
.pillar-section{
    margin-top: 80px;
    margin-bottom: 80px;
}
.bang-pill{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 32px;
}
.pillar-card{
    height: 244px;
    width: 302px;
    background-color:#FFFFFF;
    box-sizing: border-box;
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}
.inno{
    margin-top: 25px;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 20px;
}
.card-description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}
.pillar-card-contain{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.vision-card{
    margin: 32px 0px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.vision-card1-contain{
    height: 325px;
    width: 410px;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
}
.card2{
    background: rgb(198, 228, 214);
}
.card3{
    background: rgb(247, 235, 207);
}
.learn{
    height: 41px;
    width: 122px;
    margin-top: 24px;
    padding: 3px 10px;
    border-radius: 8px;
    border: none;
    background: rgb(84, 144, 245);
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
.learn2{
    background: rgb(9, 161, 92);
}
.learn3{
    background: rgb(255, 194, 57);
}
.yunus{
    height: 256px;
    width: 1280px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    padding: 38px 24px;
    box-sizing: border-box;
    margin-bottom: 80px;
}
.quotation{
    background-image: url('../assets/quote-bg.png');
    background-repeat: no-repeat;
}
.yu-p{
    padding: 20px 0px;
}
/* recent news */
.news{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}
.news-container{
    margin-top: 24px;
    height: 402px;
    width: 1280px;
    padding: 48px;
    box-sizing: border-box;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
.satelite-img{
    border-radius: 24px;
}
.sate{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 12px;
}
.read-btn{
    margin-top: 32px;
    height: 48px;
    width: 139px;
    padding: 3px 16px;
    border-radius: 8px;
    border: none;
    background: rgb(0, 106, 80);
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.donate{
    margin: 80px 0px;
    width: 1280px;
    height: 464px;
    text-align: center;
}
.taka{
    margin: 32px 140px;
    /* padding: 0px 130px; */
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.taka-contain1{
    width: 240px;
    height: 128px;
    padding: 40px 0px;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    text-align: center;
}
.taka-contain2{
    width: 252px;
    height: 128px;
    padding: 40px 0px;
    box-sizing: border-box;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(198, 228, 214);
}
.taka-contain3{
    width: 243px;
}
.taka-contain4{
    width: 264px;
}
.taka-input{
    width: 1032px;
    height: 64px;
    border: none;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    text-align: center;
}
input::placeholder{
    font-size: 20px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.3);;
}
.done{
    margin: 32px 0px;
    width: 151px;
    height: 56px;
    padding: 15px 0px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
    background: rgb(0, 106, 80);
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
}
.newsletter{
    margin: 80px 0px;
    height: 395px;
    width: 1280px;
    padding: 80px 100px;
    box-sizing: border-box;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    text-align: center;
}
.subscribe-input{
    margin-top: 24px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}
.email-input{
    width: 600px;
    height: 55px;
    border: none;
    padding: 0px 40px;
    border-radius: 8px 0px 0px 8px;
    background: rgb(255, 255, 255);
}
.subscribe{
    width: 151px;
    height: 55px;
    padding: 15px 0px;
    border: none;
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
}
footer{
    background-color: #FFFFFF;
    padding: 50px 160px;
    text-align: center;
}
.line{
    margin: 32px 0px;
    width: 1122px;
    padding: 0px 80px;
    border: 1px solid rgba(14, 14, 14, 0.1);
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
}